<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title><%= title %></title>
</head>
<body>
     <%- include('../partials/nav.ejs'); %>

     <% if(!locals.developers) { %>
          <span>No developers were found, this shouldnt happen</span>
     <% } else {%>
          <% locals.developers.forEach(dev => { %>
               <%- include('../partials/developer.ejs', {dev: dev}); %>
          <% }) %>
          <br>
          <!-- would happen only if there is one developer -->
          <% if(locals.games) { %> 
               <h2>Games by <%= developers[0].name %></h2>
               <% locals.games.forEach(game => { %>
                    <%- include('../partials/game.ejs', {game: game}) %>
               <% }) %>
          <% } %>
     <% } %>
     </body>
</html>
