<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title><%= title %></title>
</head>
<body>
     <%- include('../partials/nav.ejs'); %>

     <% if(locations.length === 0) { %>
          <a href="/games/<%- game.id %>/"><b>Go back</b></a> <br>
          <span>No locations have been found</span> <br>
          <a href="/games/<%- game.id %>/locations/new/"><b> Add a location </b></a> <br>
     <% } else if(locations.length > 1) { %>
          <a href="/games/<%- game.id %>/"><b> Go back </b></a> <br>
          <a href="/games/<%- game.id %>/locations/new/"><b> Add a location </b></a> <br>
          <br>
          <% locations.forEach(location => { %>
               <%- include('../partials/location.ejs', {location: location, game: game, loneLocation: false}); %>
               <br>
          <% }) %>
     <% } else { %>
          <a href="/games/<%- locations[0].game_id %>/locations"><b>Go back</b></a> <br>
          <br>
          <%- include('../partials/location.ejs', {location: locations[0], loneLocation: true}); %>
     <% } %>
     </body>
</html>
