<li>
     <span>Title: <%= game.title %></span> <br>
     <span>Release Date: <%= new Date(game.release_date).toLocaleDateString() %></span> <br>
     <span>Developer: <%= game.developer_name %></span> <br>
     
     <% if(game.id) { %>
          <a href="/games/<%- game.id %>">
               Check this game
          </a> <br>
     <% } else { %>
          <a href="javascript:history.back()">
               Go back
          </a> <br>
     <% } %>
     <a href="/games/<%- ((game.id) ? game.id : 1)%>/monsters">Check out monsters</a> <br>
     <a href="/games/<%- ((game.id) ? game.id : 1)%>/locations">Check out locations</a> <br>
</li>
