<li>
     <span>Title: <%= game.title %></span> <br>
     <span>Release Date: <%= new Date(game.release_date).toLocaleDateString() %></span> <br>
     <span>Developer: <%= game.developer_name %></span> <br>
     
     <% if(locals.loneGame) { %>
          <a href="javascript:history.back()">
               Go back
          </a> <br>
          <a href="/games/<%- game.id %>/monsters">Check out monsters</a> <br>
          <a href="/games/<%- game.id %>/locations">Check out locations</a> <br>
     <% } else { %>
          <a href="/games/<%- game.id %>"> Check this game</a> <br>
     <% } %>
</li>

