<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title><%= title %></title>
</head>
<body>
     <%- include('../partials/nav') %>

     <a href="/games"><b>Back to game list</b></a>

     <h1><%= title %></h1>
     
     <form action="/games/new" method="post">
          <label for="title">Title: </label>
          <input type="text" name="title" id="title" required> <br>

          <label for="release_date">Release Date: </label>
          <input type="date" name="release_date" id="release_date" required> <br>

          <label for="developer">Choose developer for this game:</label>
          <select name="developer" id="developer">
               <% developers.forEach(dev => { %>
                    <option value="<%= dev.id %>" > <%= dev.name %> </option>
               <% }) %>
          </select> <br>

          <button type="submit">Add game</button>

     </form>

</body>
</html> 
